# DATA TO DOME 2019, Colgate University
## REDUCING NOAA DATASETS
### Fairuz Ishraque'22

## Importing the required Libraries

We will start by importing the required python modules or libraries. 
The two essential libraries for this exercies are **numpy** and **pandas**. If you want to plot your data too it's a good idea to import the matplotlib library.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Importing the NOAA .csv file as a pandas Dataframe

Tables in pandas are called dataframes. This format of the table makes it really easy to manipulate the columns and rows of the table for classifying as well as cleaning th dataset.

In [ ]:
Data = pd.read_csv('Helsinki_Station_Data(1952-2017).txt', sep='\s+', na_values='-9999', skiprows=[1])

It's always a good idea to look at the relevant information of the loaded dataframe before proceeding with any form of analysis or editing on the data.

In [ ]:
#Insert your code below

In [ ]:
#Insert your code below

## Finding the TMAX temperature for the summer of '69

This is an exercise on perfomring string slicing as well as conditional indexing of the dataset

1. Slicing the month numbers out of the DATE column and assigning them to the month names

In [ ]:
#Converting the DATE column into string values from integers. This procedure makes the slicing of dates possible
Data['DATE_str'] = Data['DATE'].astype(str)
#Slicing the day values out of DATE_str
Data['DATE_yrmonth'] = Data['DATE_str'].str.slice(start=0, stop=6)
#Converting DATE_str into integer values
Data['DATE_yrmonthint'] = Data['DATE_yrmonth'].astype(int)
#creating a column of integers with the year in them 
Data['DATE_yrint'] = Data['DATE_str'].str.slice(start=0, stop=4)
Data['DATE_yrint'] = Data['DATE_yrint'].astype(int)
#creating a column for just the number of months. This makes the mapping of month names to the month numbers possible
Data['DATE_month'] = Data['DATE_str'].str.slice(start=4, stop=6)

2. Creating a dictionary that maps the month names to the dataset

In [ ]:
dict_months = {'01':'January', '02':'February', '03':'March', '04':'April',\
               '05':'May', '06':'June', '07':'July', '08':'August', '09':'September',\
               '10':'October', '11':'November', '12':'December'}

3. Performing a conditional indexing on the dataframe. This is similar to if-else statement you might be familiar with, but now the condtitions are applied to the entire dataframe. In this case we are extracting a subset of our main dataframe as a series that only contains the data from May 1969 to August 1969.

In [ ]:
#insert your code below

4. Finally, finding the max tempertaure during the summer of '69

In [ ]:
#insert you code below

And Voila! We're done!

## Calculating Monthly Average Temperatures

This is an exercise on grouping data and iterating through a dataset

1. Grouping the monthly data

In [ ]:
#insert your code below

2. Iterating over the group to get the mean monthly temperature values

In [ ]:
#insert your loop below

3. Creating a column in monthlyData for month numbers and then remapping the month numbers to month names using the previously defined dictionary. Also, creating a column with the Month Numbers as integer values

In [ ]:
#insert your code below

4. Creating another column in monthlyData for temperature values in celcius

In [ ]:
#insert your code below

5. Writing a function that converts temperatures from Fahrenheit to Celcius

In [ ]:
#insert your function below

6. Iterating the conversion through the monthlyData dataframe and adding it to the new column TempsC

In [ ]:
#insert your loop below (iterrows)

Now, let's look at the new Dataframe we have created!

In [ ]:
#insert your code below

We can also save this dataframe into a new csv file if we want to!

## Calculating Monthly Temperature Anomalies

Here by temperature anomalies we mean how much the average temperatures for each month in every year throughout the dataset varied from the mean temperature of that month for the whole dataset.

For example, the anomaly for the average temperature of January 1972 is the difference between the avergae temperature of January 1972 from the mean of the average temperatures of all the Januaries recorded in our dataframe.

In [ ]:
##creating the column avgTempsC in the Dataframe
Data['avgTempsC'] = None
##iterating the conversion and adding it to the column
for idx, row in Data.iterrows():
    #conversion
    celsius2 = FahrToCelsius(row['TAVG'])
    #adding the values to the empty column
    Data.loc[idx,'avgTempsC'] = celsius2
##grouping data across the years based on the months
referenceTemps = pd.DataFrame()
grouped2 = Data.groupby('DATE_month')
##the columns that we wanna aggregate
mean_cols2 = ['avgTempsC']
##iterating over the groups to get the mean values of each month over the years 1952-80
for key, group in grouped2:
    mean_values2 = group[mean_cols2].mean()
    mean_values2['Month'] = key
    referenceTemps = referenceTemps.append(mean_values2, ignore_index=True)
##mapping month names to month numbers. The dictionary has already been created.
referenceTemps['Month'] = referenceTemps['Month'].map(dict_months)
##merging the tables referenceTemps and monthlyData
monthlyData = monthlyData.merge(referenceTemps, on='Month')
monthlyData['Diff'] = monthlyData['TempsC']-monthlyData['avgTempsC']
monthlyData.head()

In [ ]:
plt.scatter(monthlyData.index, monthlyData['Diff'], c=monthlyData['MonthNum'], cmap='rainbow')
plt.xlabel('Index')
plt.ylabel('Temperature Anomalies (in Degrees Celcius)')
plt.title('Temperature anomalies at Helsinki from 1952-2017 (Sorted by each Month)')
plt.colorbar(ticks=[1,2,3,4,5,6,7,8,9,10,11,12], label='Number of Months')